<!--
  Generated template for the AddRecipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <body>
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label floating>Recipe Name</ion-label>
            <ion-input type="text" [(ngModel)]="recipeName" name="recipeName" required></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button full (click)="saveRecipe()">Save</button>
          </ion-item>
          <ion-item>
            <button ion-button full value="send" (click)="addNewRecipe(this.recipeName)">Save Recipe Name</button>
          </ion-item>
          <ion-item>
            <p>Please enter recipe name first than, add new stage to use bottom left button.</p>
          </ion-item>
        </ion-list>
      </ion-card>
      <ion-list>
        <ion-item *ngFor="let recipe of recipeObject">
          <ion-item *ngFor="let stage of recipe.stageArray">
            <h2>{{stage.stageTitle}}</h2>
          </ion-item>
        </ion-item>
      </ion-list>
  </body>
  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="ios-arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="navigateAddStage()"><ion-icon name="ios-add-circle-outline"></ion-icon></button>
      <button ion-fab><ion-icon name="ios-trash-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
