page-forget-password {

}

.ForgetPasswordContent{
  background-image: url("../assets/imgs/LoginSignUpFrogetPassWallpaper.jpg");
  background-size: cover;
  background-position: top;
}

.ForgetPasswordTitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ForgetPasswordBody{
  position: relative;
  opacity: 0.75;
}

#forgetPasswordSendButton{
  margin-top: 20px;
}
